{{/* Default Values */}}
{{ $projectCount := 5 }}
{{ $showMoreLinkDest := "/projects/personal" }}

{{ if .Settings.show | default false }}
	{{ if index .Settings "showItems" }}
		{{ $projectCount = .Settings.showItems }}
	{{ end }}
	<h2 class="mt-8 text-3xl font-extrabold mb-10">
		{{ .Title }}
	</h2>
	<h3 class="mt-8 text-3xl font-extrabold mb-10">
		{{ .Title }}
	</h3>

	{{ if and .Settings.cardView (not .Settings.cardViewScreenWidth) | default false }}
		{{ partial "projects/cardview.html" (dict "Context" .Context "Settings" .Settings) }}
	{{ else if and .Settings.cardView .Settings.cardViewScreenWidth | default false }}
		{{ partial "projects/cardview-fullwidth.html" . }}
	{{ else }}
		{{ partial "projects/list.html" . }}
	{{ end }}
	{{ if gt (where .Context.Site.RegularPages "Type" "in" .Settings.mainSections) 0 }}
		{{ if .Settings.showMoreLink | default false }}
			{{ if index .Settings "showItems" }}
				{{ $showMoreLinkDest = .Settings.showMoreLinkDest }}
			{{ end }}
			<div class="mt-10 flex justify-center">
				<a href="{{ $showMoreLinkDest }}">
					<button
						class="bg-transparent hover:bg-primary-900 hover:text-primary-300 prose dark:prose-invert font-semibold hover:text-white py-2 px-4 border border-primary-500 rounded">
						{{ .MoreTitle }}
					</button>
				</a>
			</div>
		{{ end }}
	{{ end }}
{{ end }}
