{{/* Default Values */}}
{{ $projectCount := 5 }}
{{ $showMoreLinkDest := "/projects" }}

{{ if .Site.Params.homepageProjects.show | default false }}
	{{ if index .Site.Params.homepageProjects "showItems" }}
		{{ $projectCount = .Site.Params.homepageProjects.showItems }}
	{{ end }}
	<h2 class="mt-8 text-2xl font-extrabold mb-10">
		{{ i18n "shortcode.projects" | emojify }}
	</h2>

	{{ if and .Site.Params.homepageProjects.cardView (not .Site.Params.homepageProjects.cardViewScreenWidth) | default false }}
		{{ partial "projects/cardview.html" . }}
	{{ else if and .Site.Params.homepageProjects.cardView .Site.Params.homepageProjects.cardViewScreenWidth | default false }}
		{{ partial "projects/cardview-fullwidth.html" . }}
	{{ else }}
		{{ partial "projects/list.html" . }}
	{{ end }}
	{{ if gt (where .Site.RegularPages "Type" "in" .Site.Params.homepageProjects.mainSections) 0 }}
		{{ if .Site.Params.homepageProjects.showMoreLink | default false }}
			{{ if index .Site.Params.homepageProjects "showItems" }}
				{{ $showMoreLinkDest = .Site.Params.homepageProjects.showMoreLinkDest }}
			{{ end }}
			<div class="mt-10 flex justify-center">
				<a href="{{ $showMoreLinkDest }}">
					<button
						class="bg-transparent hover:bg-primary-700 hover:text-primary-500 prose dark:prose-invert font-semibold hover:text-white py-2 px-4 border border-primary-500 rounded">
						{{ i18n "project.show_more" | markdownify | emojify }}
					</button>
				</a>
			</div>
		{{ end }}
	{{ end }}
{{ end }}
