{{ $meta := newScratch }}

{{/* Gather partials for this context */}}
{{ if .Param "project.status" | default false }}
	{{ $meta.Add "partials" (slice (partial "project-meta/info.html" (dict "context" . "title" "Status" "param" "status"))) }}
{{ end }}

{{ if .Param "project.type" | default false }}
	{{ $meta.Add "partials" (slice (partial "project-meta/info.html" (dict "context" . "title" "Project Type" "param" "type"))) }}
{{ end }}

{{ if .Param "project.duration" | default false }}
	{{ $meta.Add "partials" (slice (partial "project-meta/info.html" (dict "context" . "title" "Duration" "param" "duration"))) }}
{{ end }}

{{ if .Param "project.software" | default false }}
	{{ $meta.Add "partials" (slice (partial "project-meta/infoWithIcons.html" (dict "context" . "title" "Software" "param" "software"))) }}
{{ end }}

{{ if .Param "project.languages" | default false }}
	{{ $meta.Add "partials" (slice (partial "project-meta/infoWithIcons.html" (dict "context" . "title" "Languages" "param" "languages"))) }}
{{ end }}

{{ if .Param "project.role" | default false }}
	{{ $meta.Add "partials" (slice (partial "project-meta/info.html" (dict "context" . "title" "Role" "param" "role"))) }}
{{ end }}


<div class="flex flex-col flex-wrap items-start gap-y-2">
	{{/* Output partials */}}
	{{ with ($meta.Get "partials") }}
		{{ delimit . "" }}
	{{ end }}
</div>
