{{ $meta := newScratch }}

{{/* Gather partials for this context */}}
{{ if .Param "project.company" | default false }}
	{{ $meta.Add "partials" (slice (partial "project-meta/info.html" (dict "context" . "title" "Company" "param" "company"))) }}
{{ end }}

{{ if .Param "project.status" | default false }}
	{{ $meta.Add "partials" (slice (partial "project-meta/info.html" (dict "context" . "title" "Status" "param" "status"))) }}
{{ end }}

{{ if .Param "project.type" | default false }}
	{{ $meta.Add "partials" (slice (partial "project-meta/info.html" (dict "context" . "title" "Project Type" "param" "type"))) }}
{{ end }}

{{ if .Param "project.duration" | default false }}
	{{ $meta.Add "partials" (slice (partial "project-meta/info.html" (dict "context" . "title" "Duration" "param" "duration"))) }}
{{ end }}

{{ if .Param "project.software" | default false }}
	{{ $meta.Add "partials" (slice (partial "project-meta/infoWithIcons.html" (dict "context" . "title" "Software" "param" "software"))) }}
{{ end }}

{{ if .Param "project.languages" | default false }}
	{{ $meta.Add "partials" (slice (partial "project-meta/infoWithIcons.html" (dict "context" . "title" "Languages" "param" "languages"))) }}
{{ end }}

{{ if .Param "project.role" | default false }}
	{{ $meta.Add "partials" (slice (partial "project-meta/info.html" (dict "context" . "title" "Role" "param" "role"))) }}
{{ end }}


<details id="projectDetails" class="mb-5 overflow-hidden rounded-lg ltr:pl-5 rtl:-mr-5 rtl:pr-5">
	<summary
		class="py-1 text-lg font-semibold cursor-pointer bg-primary-200 text-neutral-800 ltr:-ml-5 ltr:pl-5 rtl:-mr-5 rtl:pr-5 dark:bg-primary-800 dark:text-neutral-100">
		Project Info
	</summary>
	<div
		class="flex flex-col flex-wrap items-start gap-y-2 pt-2 pb-2 backdrop-blur-md bg-neutral-800 bg-opacity-30 border-dashed border-neutral-300 ltr:-ml-5 ltr:border-l ltr:pl-5 rtl:-mr-5 rtl:border-r rtl:pr-5 ltr:pr-5 rtl:pl-5 dark:border-neutral-600">
		{{/* Output partials */}}
		{{ with ($meta.Get "partials") }}
			{{ delimit . "" | safeHTML }}
		{{ end }}
	</div>
</details>

<script type="text/javascript" src="{{ (resources.Get "js/detailsAnimation.js").RelPermalink }}"></script>

<script>
	var details = document.getElementById('projectDetails');
	if (window.matchMedia('screen and (max-width: 768px)').matches) {
		details.toggleAttribute('open', false);
	} else {
		details.toggleAttribute('open', true);
	}
</script>
