{{ $context := . }}
{{ $frontMatterParam := "" }}
{{ $title := "" }}

{{ if (reflect.IsMap . ) }}
	{{ $context = .context }}
	{{ $frontMatterParam = cond (not .param) $frontMatterParam (print "project." .param) }}
	{{ $title = cond (not .title) $title .title }}
{{ end }}

{{ with $context }}
	<div class="flex flex-col flex-wrap items-start">
		<span class="font-extrabold text-primary-400"> {{ $title | title }} </span>
		<span class=" prose dark:prose-invert flex flex-row gap-x-4">
			{{ with i18n (print $frontMatterParam "." (.Param $frontMatterParam) ) }}
				{{ . | markdownify | emojify }}
			{{ else }}
				{{ if eq (printf "%T" (.Param $frontMatterParam)) "[]interface {}" }}
					{{ range .Param $frontMatterParam }}
						<div class="flex flex-col items-center text-center">
							<span class="iconFull w-auto h-6 mt-[8px] text-primary-200 dark:text-primary-200">
								{{ partial "icon.html" (( replaceRE "(\\s)" "" . ) | lower) }}
							</span>
							{{ . | markdownify | emojify }}
						</div>
					{{ end }}
				{{ else }}
					{{ .Param $frontMatterParam | markdownify | emojify }}
				{{ end }}
			{{ end }}
		</span>
	</div>
{{ end }}
