{{ $disableImageOptimization := .context.Page.Site.Params.disableImageOptimization | default false }}

{{ $content := .content }}
{{ if not .content }}
	{{ $content = (.context.Page.Resources.ByType "image") }}
	{{ if .match }}
		{{ $content = (.context.Page.Resources.Match .match) }}
	{{ end }}
{{ end }}
{{ $id := delimit (slice "carousel" now.UnixNano) "-" }}
{{ $interval := default "2000" .interval }}


<div id="{{ $id }}" class="relative" data-te-carousel-init data-te-carousel-slide>
	<div
		class="absolute right-0 bottom-0 left-0 z-[2] mx-[15%] mb-10 flex list-none justify-center p-0"
		data-te-carousel-indicators>
		{{ $num := 0 }}
		{{ range $content }}
			<button
				type="button"
				data-te-target="#{{ $id }}"
				data-te-slide-to="{{ $num }}"
				{{ if eq $num 0 }}data-te-carousel-active aria-current="true"{{ end }}
				class="mx-[3px] box-content h-[3px] w-[30px] flex-initial cursor-pointer border-0 border-y-[10px] border-solid border-transparent bg-neutral bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[600ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)] motion-reduce:transition-none"
				aria-label="Slide {{ $num }}"></button>

			{{ $num = add $num 1 }}
		{{ end }}

	</div>
	<div class="relative w-full overflow-hidden after:clear-both after:block after:content-['']">
		{{ $num := 0 }}
		{{ range $image := $content }}
			{{ if and (not $disableImageOptimization) (not $.content ) }}
				{{ with $.resolution }}
					{{ $image = $image.Resize . }}
				{{ else }}
					{{ $image = .Resize "640x" }}
				{{ end }}
			{{ end }}


			<a
				href="{{ $image.RelPermalink }}"
				class="relative float-left -mr-[100%] {{ if not (eq $num 0) }}
					hidden
				{{ end }} w-full transition-transform duration-[{{ $interval }}ms] ease-in-out motion-reduce:transition-none glightbox"
				data-te-carousel-item
				{{ if eq $num 0 }}data-te-carousel-active{{ end }}
				{{ with $.gallery }}
					data-gallery="{{ . }}"
				{{ else }}
					data-gallery="{{ $.Page.File.UniqueID }}"
				{{ end }}
				{{ if or ($.title) ($.description) }}
					data-glightbox="title:{{ $.title | default "" }};description:{{ $.description | default "" }}"
				{{ end }}>
				<div style="--aspect-ratio:{{ div $image.Width (float $image.Height) }};">
					<img
						src="{{ $image.RelPermalink }}"
						width="{{ $image.Width }}"
						height="{{ $image.Height }}"
						class="my-0 nozoom"
						alt="carousel image {{ $num }}" />
				</div>
			</a>

			{{ $num = add $num 1 }}
		{{ end }}

	</div>
	<button
		class="absolute top-0 bottom-0 left-0 z-[2] flex w-[15%] items-center justify-center border-0 bg-none p-0 text-center text-white opacity-50 transition-opacity duration-150 ease-[cubic-bezier(0.25,0.1,0.25,1.0)] hover:text-white hover:no-underline hover:opacity-90 hover:outline-none focus:text-white focus:no-underline focus:opacity-90 focus:outline-none motion-reduce:transition-none"
		type="button"
		data-te-target="#{{ $id }}"
		data-te-slide="prev">
		<span class="inline-block h-8 w-8">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				fill="none"
				viewBox="0 0 24 24"
				stroke-width="4.5"
				stroke="currentColor"
				class="h-6 w-6">
				<path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
			</svg>
		</span>
		<span
			class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]"
			>Previous</span
		>
	</button>
	<button
		class="absolute top-0 bottom-0 right-0 z-[1] flex w-[15%] items-center justify-center border-0 bg-none p-0 text-center text-white opacity-50 transition-opacity duration-150 ease-[cubic-bezier(0.25,0.1,0.25,1.0)] hover:text-white hover:no-underline hover:opacity-90 hover:outline-none focus:text-white focus:no-underline focus:opacity-90 focus:outline-none motion-reduce:transition-none"
		type="button"
		data-te-target="#{{ $id }}"
		data-te-slide="next">
		<span class="inline-block h-8 w-8">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				fill="none"
				viewBox="0 0 24 24"
				stroke-width="4.5"
				stroke="currentColor"
				class="h-6 w-6">
				<path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
			</svg>
		</span>
		<span
			class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]"
			>Next</span
		>
	</button>
</div>
