name: GitHub Pages

on:
    push:
        branches:
            - master # Set a branch to deploy
    pull_request:
    # Allows you to run this workflow manually from the Actions tab
    workflow_dispatch:

permissions:
    contents: write

jobs:
    deploy:
        runs-on: ubuntu-22.04
        concurrency:
            group: ${{ github.workflow }}-${{ github.ref }}
        steps:
            - uses: actions/checkout@v3
              with:
                  submodules: true # Fetch Hugo themes (true OR recursive)
                  fetch-depth: 0 # Fetch all history for .GitInfo and .Lastmod

            - name: Setup Hugo
              uses: peaceiris/actions-hugo@v2
              with:
                  hugo-version: '0.118.2'
                  extended: true

            - name: Setup Node
              uses: actions/setup-node@v3
              with:
                  node-version: '18'
                  cache: 'npm'
                  # The action defaults to search for the dependency file (package-lock.json,
                  # npm-shrinkwrap.json or yarn.lock) in the repository root, and uses its
                  # hash as a part of the cache key.
                  # https://github.com/actions/setup-node/blob/main/docs/advanced-usage.md#caching-packages-data
                  cache-dependency-path: '**/package-lock.json'

            - run: cd ./themes/blowfish && npm ci && cd ../..
            - run: npm run build_css

            - name: Build
              run: hugo --minify --gc --environment production

            - name: Deploy
              uses: peaceiris/actions-gh-pages@v3
              if: ${{ github.ref == 'refs/heads/master' }}
              with:
                  github_token: ${{ secrets.GITHUB_TOKEN }}
                  publish_dir: ./public
